.cantorTableCount {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

.cantorTable {
    width: 100%;
}

.cantorTableHeader {
    background-color: var(--color-light-bluish);
    text-transform: capitalize;
}

.cantorTable, .cantorTableRow {
    border-collapse: collapse;
    border-style: solid;
    border-color: var(--color-bluish);
    border-width: 2px;
    text-align: center;
    padding: 20px 0px;
}

.cantorTableTotLen {
    text-align: right;
    font-weight: 600;
    font-size: 1.2em;
}

.cantorTableTotLen, .cantorTableCount {
    text-transform: capitalize;
    margin: 10px 0px;
}
