.spinnerParent {
    position: relative;
}

.loadingSpinner {
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    position: absolute;
    display: none;
    width: 100%;
}

.disableItem {
    z-index: auto;
    background-color: grey;
    opacity: 0.3;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
}
