.notification {
    margin: 10px;
    padding: 0 10px;
    color: var(--color-error-text);
    background: var(--color-error-bg);
    border: 1px solid var(--color-error-text);
    border-radius: 10px;
}
