.introduction {
    padding: 12px;
    border: 2px solid var(--color-light-gray);
    margin: 4px auto;
    width: 100%;
    box-sizing: border-box;
}

.whatIsCantorTitle {
    font-size: var(--step-title-font-size);
    cursor: pointer;
}

.textDescription {
    margin-top: 1rem;
}

.textDescription a {
    color: var(--color-basic-font);
    font-weight: bold;
    text-decoration: none;
}

.textDescription a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.eqLine {
    line-height: 0.8rem;
}
/* so css modules have some problems when styling nested component children.... I could not google a "better" solution that was less confusing than this span-wrapping solution. CSS modules do not allow modifying the .fracDisplay class which is set on FracDisplay components.
*/
.smallerFrac {
    font-size: 0.8rem;
}

.evenSmallerFrac {
    font-size: 0.8em;
}

.descriptionDiagrams {
    width: 80%;
}

.twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 8px;
    margin-bottom: 5px;
}

.howToCantorTitle {
    color: var(--color-bluish);
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
    align-self: flex-start;
}

.introEmphasis {
    font-weight: bolder;
    color: var(--color-bluish);
    margin-right: 5px;
}

.eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.eq .sum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sum .sigma {
    font-size: 1.3rem;
}

.sum .end {
    transform: translateY(0.4rem);
}

.sum .start {
    font-size: 0.6rem;
}

.parensExpression {
    display: inline flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parensBig {
    font-size: 1.3em;
    transform: scale(0.9, 1.3);
    margin: 2px 3px;
}

.parensBigger {
    font-size: 1.5em;
    transform: scale(0.9, 1.8);
    margin: 2px 3px;
}

.equation {
    display: inline;
    white-space: nowrap;
    margin-left: 0.3em;
}

.geometricEq {
    transform: translateY(-0.4rem);
}

.dotOperator {
    font-size: 1.5em;
}

.underline {
    text-decoration: underline;
}

.closeInstructions {
    margin-top: 1em;
    color: var(--color-link);
}

.closeInstructions:hover {
    cursor: pointer;

}
