.numberline {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* this margin should be higher */
    margin: auto 1em;
}

.numberline canvas {
    position: absolute;
    z-index: -1;
    width: 100%;
}

