/****************/
body {
    width: 95%;
    margin: 2em auto;
    font-family: 'ABeeZee', sans-serif;
    --font-title: 'Montserrat Alternates'; /* 800, 600, 400 */
    --step-title-font-size: 1.5em;
    /* colors */
    --color-link: #006ec5;
    --color-error-text: #cb4818;
    --color-bluish: #00a4d3;
    --color-light-bluish: #c9f1fd;
    --color-gap-label-blue: #609ab8;
    --color-dark-bluish: #007da1;
    --color-gray: gray;
    --color-light-gray: lightgray;
    --color-dark-gray: #696969; /*nice*/
    --color-green: #72bb53;
    --color-dark-green: #629c44;
    --color-gold: #e5b513;
}

a {
    color: var(--color-link);
}

/****************/
.notification {
    margin: 10px;
    padding: 0 10px;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    border-radius: 10px;
}

/****************/

.button-set {
    display: flex;
    justify-content: center;
    row-gap: 10px;
}

.button {
    width: 250px;
    padding: 5px;
    color: white;
    border-radius:10px;
    outline: 0;
    text-transform: capitalize;
    margin: 10px 10px;
    box-shadow: 0px 2px 2px lightgray;
    border-bottom: 2px solid transparent;
    transition: ease background-color 250ms;
    font-size: 1.2em;
    text-align: center;
}

.button-blue {
    background-color: var(--color-bluish);
}

.button-blue:hover {
    background-color: var(--color-dark-bluish);
}

.button-gray {
    background-color: var(--color-gray);
}

.button-gray:hover {
    background-color: var(--color-dark-gray);
}

.button:disabled {
    background-color: gray;
}

.button-green {
    background-color: var(--color-green)
}

.button-green:hover {
    background-color: var(--color-dark-green)
}

.icon {
    height: 1.2em;
    width: 1.2em;
    vertical-align: bottom;
    padding: 0 2px 0 0;
}

/****************/

.numberline {
    height: 200px;
    position: relative;
}

.numberline canvas {
    position: absolute;
    z-index: -1;
}

.spinner-parent {
    position: relative;
}

.loading-spinner {
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    position: absolute;
    display: none;
    width: 100%;
}

.disable-item {
    z-index: auto;
    background-color: grey;
    opacity: 0.3;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
}

/****************/

.horizontal-line {
    width: 30%;
    margin: 15px auto;
    height: 3px;
    background-color: var(--color-dark-bluish);
    border: 0 none;
}

.cantor-result-iteration {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "nl nl nl nl nl nl nl nl"
        ". iter iter iter iter iter iter ."
        ". segments segments segments gaps gaps gaps .";
    gap: 10px;
    margin: 20px 0px;
}

.cantor-table-tot-len {
    text-align:right;
    font-weight: 600;
    font-size: 1.2em;
}

.cantor-table-tot-len, .cantor-table-count {
    text-transform: capitalize;
    margin: 10px 0px;
}

.cantor-results-description {
    text-align: center;
    font-family: var(--font-title), sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    padding: 10px;
}

.cantor-result-numberline {
    grid-area: nl;
}

/* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.cantor-result-iteration-name {
    grid-area: iter;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.cantor-result-iteration-name:hover {
    cursor: pointer;
    color: var(--color-bluish);
}

.cantor-result-iteration-name::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-bluish);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.cantor-result-iteration-name:hover::before {
    transform: scaleX(1);
}

.cantor-result-segments {
    grid-area: segments;
    justify-self: stretch;
}

.cantor-result-gaps {
    grid-area: gaps;
    justify-self: stretch;
}

.cantor-table {
    width: 100%;
}

.cantor-table, .cantor-table-row {
    border-collapse: collapse;
    border-style: solid;
    border-color: var(--color-bluish);
    border-width: 2px;
    text-align: center;
    padding: 20px 0px;
}

.cantor-table-header {
    background-color: var(--color-light-bluish);
    text-transform: capitalize;
}

.cantor-table-count {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
}

.interval-display {
    display: flex;
    justify-content: center;
}

.parens-left {
    border-style: solid;
    border-color: black;
    border-width: 2px 0 2px 2px;
    width: 3px;
    margin: 0 5px 0 0;
}

.parens-right {
    border-style: solid;
    border-color: black;
    border-width: 2px 2px 2px 0;
    width: 3px;
    margin: 0 0 0 5px;
}
.frac-display {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}

.frac-line {
    border-top: 2px solid;
}


/****************/

.centering-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.introduction {
    padding: 12px;
    border: 2px solid #c0c0c0;
    margin: auto 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-light-bluish);
}

.introduction-inner {
    background-color: white;
    padding: 10px;
}

/****************/

.setup-cantor {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    column-gap: 20px;
    text-align: left;
}

.setup-step {
    background-color: var(--color-light-bluish);
    min-width: 200px;
    min-height: 150px;
    padding: 12px;
    flex: 1 1 0;
    border: 2px solid #c0c0c0;
    display: flex;
    flex-direction: column;
}

.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: var(--step-title-font-size);
    margin-bottom: 5px;
}

.title-help-icon {
    font-size: var(--step-title-font-size);
}

.instruction-box {
    width: 95%;
    min-height: 50px;
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.instruction {
    text-align: center;
    white-space: pre-wrap;
    flex: 2 1 0;
}

.step-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    flex: 1 1 0;
}

.step-error {
    font-size: .65em;
    color: var(--color-error-text);
    text-align: center;
    margin-top: 5px;
    flex: 1 1 0;
}


/******************/
/* Modal          */
/******************/

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modal-placement {
    position: fixed;
    visibility: hidden;
    /*
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    */
}

.modal {
    position: absolute;
    width: 250px;
    height: 170px;
    background: white;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
    overflow: hidden;
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 4px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
}

.modal-title-text {
    padding-left: 5px;
}

.modal-content {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    font-weight: 500;
    padding: 2px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    align-self: flex-end;
}

.close-btn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-2px, 2px);
}

/******************/
/* css for header */
/******************/
.page-header {
    display: flex;
    height: 75px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#page-title {
    font-family: var(--font-title), sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    color: black;
    margin: 0;
}

#credit-and-github {
    padding: 10px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1em;
    align-items: center;
}

#github-logo {
    width: 50px;
    height: 50px;
    overflow: auto;
    grid-column: 1;
    grid-row: 1 / -1;
    background-image: url("./shared/assets/github-mark.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#author {
    grid-column: 2;
    grid-row: 1;
}

#github-link {
    grid-column: 2;
    grid-row: 2;
}
