body {
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    min-width: 700px;
    --font-title: 'Montserrat Alternates'; /* 800, 600, 400 */
    --step-title-font-size: 1.5em;
    --color-error-text: #cb4818;
    --color-error-bg: #ffe0e0;
    --color-basic-font: black;
    /* colors */
    --color-bluish: #00a4d3;
    --color-light-bluish: #c9f1fd;
    --color-gap-label-blue: #609ab8;
    --color-dark-bluish: #007da1;
    --color-gray: gray;
    --color-light-gray: lightgray;
    --color-dark-gray: #696969; /*nice*/
    --color-green: #72bb53;
    --color-dark-green: #629c44;
    --color-gold: #e5b513;
    /* site-wide */
    --color-link: var(--color-dark-bluish);
}

a {
    color: var(--color-link);
}

main {
    margin: 1em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > header, section {
    margin-bottom: 0.5rem;
}

.caretToggle {
    color: var(--color-bluish);
}

.centeringDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 85%;
}

@media (width <= 750px) {
    .centeringDiv {
        width: 100%;
    }
}
